module __FH_MODULE__

go 1.26.5

require (
	github.com/oarkflow/authz v0.0.6
	github.com/oarkflow/config v0.0.1
	github.com/oarkflow/fh v0.0.24
	github.com/oarkflow/fh-contrib v0.0.4
	github.com/oarkflow/squealx v0.0.78
	github.com/oarkflow/tcpguard v0.0.16
	github.com/oarkflow/template v0.0.3
	github.com/oarkflow/zlog v0.0.3
)
